{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple Music Player</title>
    <!-- Load FontAwesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!-- Load the custom CSS style file -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/songs.css' %}">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
</head>

<body class="min-h-screen bg-cover bg-gradient-to-br from-pink-700 via-purple-600 to-blue-700">
    {% block content %}{% endblock %}

    <!-- Load the main script for the player -->
    <script src="{% static 'js/main.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>

</html>